.section__form {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section__dataTable-books {
  width: 100%;
  min-height: 200px;
  overflow: hidden;
  margin-top: 30px;
  height: 85vh;
  background: #ffffff;
  border: 1px solid #dfe0eb;
  border-radius: 8px;
}
#books {
  overflow: hidden;

  max-width: 1200px;
  margin-top: 10px;
  max-height: calc(100% - 65px);
  overflow: auto;
  margin: 20px auto;
}

.section__dataTable > div {
  display: grid;
  /* columnas responsive */
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  gap: 30px;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.section__dataTable > div > p {
  font-size: 16px;
  font-weight: 500;
  color: #272626;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .section__dataTable > div {
    grid-template-columns: 1fr;
  }
  .text_corto {
    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
