
.section__form{
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__dataTable>div{
  display: grid;
  /* columnas responsive */
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  gap: 30px;
  padding: 20px;
  align-items: center;
  justify-content: center;

}
.section__dataTable>div>p{
  font-size: 16px;
  font-weight: 500;
  color: #272626;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .section__dataTable>div{
    grid-template-columns: 1fr;
  }
}
  