@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:wght@300;400;500;700;900&display=swap");
@import "./components/cards.css";

:root {
  --white: #ffffff;
  --black: #000000;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #eb3754;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.main {
  width: 90%;
  min-height: 300px;
  margin: 0 auto;
  padding: 0 20px;
}
.hide {
  display: none;
}

form .title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}
form {
  width: 100%;
  min-width: 350px;
  max-width: 400px;
  margin: 0 auto;
  margin: 60px 0;
  padding: 40px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#form-book {
  max-width: 600px;
}
.form-groups {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 30px;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 15px;
}
textarea {
  width: 100%;
  height: 120px;
  margin-bottom: 10px;

  padding: 10px;
  resize: none;
  border: 2px solid #dadada;
  background: #f7f7f7;
  border-radius: 6px;
}

input,
select {
  border: 2px solid #dadada;
  background: #f7f7f7;
  border-radius: 6px;
  width: 100%;
  padding: 5px;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  transition: border 0.3s ease 0s;
}
input:focus {
  border: 2px solid var(--hospital-green);
  background-color: #fafafa;
}

button:not(.icon) {
  width: 100%;
  border: 2px solid var(--hospital-green);
  font-weight: 500;
  background-color: var(--hospital-green);
  color: #fafafa;
  margin-block-start: 20px;
  padding-inline-start: 24px;
  padding-inline-end: 24px;
  padding-block-start: 13px;
  padding-block-end: 13px;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
button:hover:not(.icon) {
  background-color: #fafafa;
  color: var(--hospital-green);
}
.smallBtn {
  max-width: 140px;
}

.icon {
  width: 37px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 2px;
  background-color: transparent;
}
.icon-delete {
  background-image: url("/public/icons/delete.svg");
  background-color: #f75d5d;
}
.icon-delete:hover {
  background-color: #fa4848;
}

.icon-update {
  background-image: url("/public/icons/update.svg");
  background-color: #5d97f7;
}
.icon-update:hover {
  background-color: #498efc;
}

.main_sections {
  display: grid;
  grid-template-columns: 1fr 0.2fr 1fr 1fr 0.2fr 0.2fr 2fr 2fr 0.5fr;
  gap: 5px;
  row-gap: 20px;
  text-align: center;
}

.main_sections img {
  width: 100%;
  min-width: 150px;
  height: auto;
  margin: 0 auto;
}

.main_sections > div:not(.no) {
  margin-top: 10px;
  background: rgb(32, 35, 41);
  font-size: 20px;
  font-weight: 700;
  padding: 20px;
  position: sticky;
  top: 0;

  color: #d3d0d0;
}
.main_section_one {
  margin: 10 auto;
  margin-bottom: 120px;
  min-height: 450px;

  min-width: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.main_section_one > div {
  justify-items: center;
}
.title_main {
  font-style: normal;
  font-weight: 700;
  font-size: 67.2194px;
  line-height: 89px;

  color: #14134f;
}

.sub_title {
  font-style: normal;
  font-weight: 400;
  font-size: 18.4853px;
  line-height: 25px;
  color: #52555b;
}

.phrase {
  font-style: italic;
  font-weight: 400;
  font-size: 15.1244px;
  line-height: 20px;
}
.main_section_right {
  width: 100%;

  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 80px);
  grid-template-areas:
    ". a . ."
    ". . b ."
    "img img . c"
    "img img . .";
  justify-content: center;
}
.img_main {
  grid-area: img;
  width: 400px;
  align-self: center;
  justify-self: center;
  z-index: 1;
}
.img_secondary_main {
  grid-area: img;
  align-self: flex-end;
  justify-self: flex-end;
  position: relative;
  top: -100px;
}
.article_main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
}
.article_main._1 {
  grid-area: a;
  justify-self: flex-start;

  align-self: center;
}
.article_main._2 {
  grid-area: b;
  justify-self: flex-start;

  align-self: center;
}
.article_main._3 {
  grid-area: c;
  justify-self: flex-start;

  align-self: center;
}
.article_main > span {
  width: 100%;
  max-width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.article_main > span::after {
  content: "";
  height: 5px;
  width: 60%;
  background-color: #eb3754;
}

.number_article {
  font-style: normal;
  font-weight: 700;
  font-size: 20.1658px;
  line-height: 27px;
  color: #14134f;
}
.date_article {
  font-style: normal;
  font-weight: 500;
  font-size: 15.1244px;
  line-height: 20px;

  color: #14134f;
}

.container {
  position: relative;
  padding: 10px 40px;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
}
.container .swiper-container {
  height: 100%;
  max-height: 600px;
}
.container .swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 15px;
  text-align: start;
  box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);
}

.swiper-pagination-bullet {
  background: #1d6ce2;
  width: 16px !important;
  height: 5px !important;

  border-radius: 0 !important;
}

@media (max-width: 768px) {
  .form-groups {
    grid-template-columns: 1fr;
    gap: 0;
  }
  input,
  select {
    max-width: 100%;
  }
  
  .main_section_one {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
  }
}
@media (max-width: 480px) {
  form {
    width: 100%;
    min-width: 300px;
    margin: 0 auto;
    margin: 30px 0;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: none;
  }
  .phrase {
    display: none;
  }
  
  
  .main_section_one {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 0;
  }
  .main_section_right {
    display: none;
  }
}


.cover.parallax {
    background-attachment: fixed;
    background-image: url("https://www.upb.edu.co/es/imagenes/imgtipod-blgleyendosinseparador-megustarialeer-1464204951973.jpg");
    position: relative;
}

.cover {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    max-height: 400px;
    background-size: cover;
    background-position: center;
}

.cover.parallax > p {
    margin-bottom: 20px;
    padding: 10px 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2em;
    position: absolute;
    letter-spacing: 8px;
    width: auto;
    bottom: 0px;
    left: 10px;
    text-align: center;
    color: rgba(215,218,219,0.7);
    background-color: rgba(235, 55, 84 , 0.8);
    display: block;
    width: 100%;
    box-sizing: border-box;
    left: 0px;
    text-align: right;
}