.menu {
  background-color: #ffc36c;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #ffc36c;
  transition: border 0.2s ease 0s;
}

a:hover {
  border-bottom: 2px solid #d3d0d0;
}

li {
  list-style: none;
}

.menu > ul {
  display: flex;
}

.menu > ul > li {
  margin: 0 10px;
}

.menu a {
  color: white;
}

.main {
  width: 90%;
  min-height: 800px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}
